$baseColor: #26CF9E;

$defaultRadius: 11px;

$accentBlue: #15355a;
$slug:#2b42388f;

$breakpointSm: 576px;
$breakpointMd: 768px;

$breakpointSmall:576px;
$breakpointLarge:1024px;
$primary: #26CF9E;

$white: #fff;
$black: #212129;
$gray: #9B9B9B;
$bookmark: #17BEBB;
$accentYellow: #f8d125;
$accentRed: #EF3E36;


$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px);
